:root {
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.33rem;
  --size-600: 1.77rem;
  --size-700: 2.36rem;
  --size-800: 3.15rem;
  --size-900: 4.2rem;
}

body {
  background: #f3f3f3;
  color: #252525;
  line-height: 1.5;
  font-family: Georgia, serif;
  padding-bottom: 2rem;
}

:focus {
  outline: 2px dashed;
  outline-offset: 0.25rem;
}

main:focus {
  outline: none;
}

[href]:hover {
  outline: 1px dashed;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue,
    helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  line-height: 1.3;
}

h1,
h2 {
  font-weight: 900;
}

h1 {
  font-size: var(--size-700);
}

h2 {
  font-size: var(--size-600);
}

h3 {
  font-size: var(--size-600);
}

img {
  max-width: min(55rem, 100%);
}

figcaption {
  font-size: var(--size-300);

  font-style: italic;
  margin-top: 1rem;
}

blockquote {
  padding-left: var(--size-600);
  border-left: 5px solid;
  font-style: italic;
}

::selection {
  color: #fff;
  background: rgba(0, 0, 0, 0.99);
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

p,
li {
  max-width: 60ch;
}

h1 {
  max-width: 15ch;
}

h2,
h3 {
  max-width: 25ch;
}

.post {
  --flow-space: var(--size-700);

  width: 80vw;
  width: clamp(16rem, 80vw, 70rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.post h2 {
  padding-top: 0.5em;
  border-top: 4px dotted rgba(0, 0, 0, 0.2);
}

.post h2:has(+ time) { margin-bottom: 0; }

.post h2 + time {
  margin-top: 0;
  font-style: italic;
  display: block;
}

.post h1:has(+ time) { margin-bottom: 0; }

.post h1 + time {
  margin-top: 0;
  font-style: italic;
  display: block;
}

.post ul {
  list-style-type: none;
  padding-left: 10px;
}

.post li {
  display: grid;
  grid-template-columns: 20px auto;
  justify-content: start;
  align-items: center;
  font-size: var(--size-400);
}

.post li + li {
  margin-top: 0.5em;
}

.post li::before {
  content: "→";
  font-size: var(--size-300);
  color: #999;
}

@media (min-width: 45em) {
  h1 {
    font-size: var(--size-900);
  }

  h2 {
    font-size: var(--size-700);
  }

  p {
    font-size: var(--size-500);
  }

  figcaption {
    font-size: var(--size-400);
  }

  blockquote p {
    font-size: var(--size-600);
    max-width: 40ch;
  }

  .post time {
    font-size: var(--size-500);
  }

  .post ul {
    padding-left: 20px;
  }

  .post li {
    font-size: var(--size-500);
  }
}
